<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="intrumcdp_main_tab" translate="label" sortOrder="1">
            <label>Intrum CDP (1.0.0)</label>
        </tab>
        <section id="intrumcdpcheckoutsettings" translate="label" sortOrder="1" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <label>Intrum CDP general settings</label>
            <tab>intrumcdp_main_tab</tab>
            <resource>ZZZIntrum_Cdp::system_config</resource>
            <group id="intrumcdp_setup" translate="label" type="text" sortOrder="1" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Intrum CDP general settings</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="currentmode" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mode</label>
                    <source_model>ZZZIntrum\Cdp\Model\Source\TestLive</source_model>
                </field>
            </group>
        </section>

    </system>
</config>

