<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="intrumcdp_main_tab" translate="label" sortOrder="1">
            <label>Intrum CDP (1.2.1)</label>
        </tab>
        <section id="intrumcdpcheckoutsettings" translate="label" sortOrder="1" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <label>Intrum CDP general settings</label>
            <tab>intrumcdp_main_tab</tab>
            <resource>ZZZIntrum_Cdp::system_config</resource>
            <group id="intrumcdp_setup" translate="label" type="text" sortOrder="1" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Intrum CDP general settings</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="currentmode" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mode</label>
                    <source_model>ZZZIntrum\Cdp\Model\Source\TestLive</source_model>
                </field>
                <field id="businesstobusiness" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable B2B check</label>
                    <comment>B2B integration allow to to do credit check if customer provide company
                        credentials
                    </comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="clientid" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client ID</label>
                </field>
                <field id="userid" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>User ID</label>
                </field>
                <field id="password" translate="label" type="password" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Password</label>
                </field>
                <field id="mail" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Technical Contact (E-mail)</label>
                </field>
                <field id="minamount" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mininmal amount for credit check</label>
                </field>
                <field id="maxamount" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maximal amount for credit check</label>
                </field>
                <field id="timeout" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Connection timeout to Intrum CDP server in seconds</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="tmxenabled" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable ThreatMetrix security check</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="tmxkey" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>ThreatMetrix Org Id</label>
                </field>
            </group>
        </section>

        <section id="intrumcdppaymentconfig" translate="label" sortOrder="2" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <label>Payment methods setup</label>
            <tab>intrumcdp_main_tab</tab>
            <resource>ZZZIntrum_Cdp::system_config</resource>
            <group id="intrumcdp_payment_config" translate="label" type="text" sortOrder="1" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Payment methods setup</label>
                <frontend_model>ZZZIntrum\Cdp\Model\Source\MethodMapping</frontend_model>
            </group>
        </section>

        <section id="intrumcdppayments" translate="label" sortOrder="3" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <label>Disabled payment methods</label>
            <tab>intrumcdp_main_tab</tab>
            <resource>ZZZIntrum_Cdp::system_config</resource>
            <group id="intrumcdp_payment_config" translate="label" type="text" sortOrder="1" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Disabled payment methods</label>
                <field id="byjunos4transactonexplain" translate="label" type="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>ZZZIntrum\Cdp\Model\Source\ExplainDisable</frontend_model>
                </field>
                <field id="status_1" translate="label" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>There are serious negative indicators (status 1)</label>
                    <source_model>ZZZIntrum\Cdp\Model\Source\Payments</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="status_2" translate="label" type="multiselect" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>All payment methods (status 2)</label>
                    <source_model>ZZZIntrum\Cdp\Model\Source\Payments</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="status_3" translate="label" type="multiselect" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Manual post-processing (currently not yet in use) (status 3)</label>
                    <source_model>ZZZIntrum\Cdp\Model\Source\Payments</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="status_4" translate="label" type="multiselect" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Postal address is incorrect (status 4)</label>
                    <source_model>ZZZIntrum\Cdp\Model\Source\Payments</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="status_5" translate="label" type="multiselect" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enquiry exceeds the credit limit (the credit limit is specified in the cooperation agreement) (status 5)</label>
                    <source_model>ZZZIntrum\Cdp\Model\Source\Payments</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="status_6" translate="label" type="multiselect" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer specifications not met (optional) (status 6)</label>
                    <source_model>ZZZIntrum\Cdp\Model\Source\Payments</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="status_7" translate="label" type="multiselect" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enquiry exceeds the net credit limit (enquiry amount plus open items exceeds credit limit) (status 7)</label>
                    <source_model>ZZZIntrum\Cdp\Model\Source\Payments</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="status_8" translate="label" type="multiselect" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Person queried is not of creditworthy age (status 8)</label>
                    <source_model>ZZZIntrum\Cdp\Model\Source\Payments</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="status_9" translate="label" type="multiselect" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Delivery address does not match invoice address (for payment guarantee only) (status 9)</label>
                    <source_model>ZZZIntrum\Cdp\Model\Source\Payments</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="status_10" translate="label" type="multiselect" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Household cannot be identified at this address (status 10)</label>
                    <source_model>ZZZIntrum\Cdp\Model\Source\Payments</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="status_11" translate="label" type="multiselect" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Country is not supported (status 11)</label>
                    <source_model>ZZZIntrum\Cdp\Model\Source\Payments</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="status_12" translate="label" type="multiselect" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Party queried is not a natural person (status 12)</label>
                    <source_model>ZZZIntrum\Cdp\Model\Source\Payments</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="status_13" translate="label" type="multiselect" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>System is in maintenance mode (status 13)</label>
                    <source_model>ZZZIntrum\Cdp\Model\Source\Payments</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="status_14" translate="label" type="multiselect" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Address with high fraud risk (status 14)</label>
                    <source_model>ZZZIntrum\Cdp\Model\Source\Payments</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="status_15" translate="label" type="multiselect" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allowance is too low (status 15)</label>
                    <source_model>ZZZIntrum\Cdp\Model\Source\Payments</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="status_0" translate="label" type="multiselect" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Fail to get status (status Error)</label>
                    <source_model>ZZZIntrum\Cdp\Model\Source\Payments</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>
        </section>

    </system>
</config>

