<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_is_active">
        <observer name="cdpPaymentOvserver" instance="ZZZIntrum\Cdp\Observer\CdpPayment" />
    </event>
    <event name="checkout_onepage_controller_success_action">
        <observer name="checkout_controller_success_action" instance="ZZZIntrum\Cdp\Observer\CdpPaymentSuccess"  />
    </event>
</config>